@font-face {
  font-family: 'Champagne-Limousines';
  src: url('../font/champagne/Champagne-Limousines.eot?#iefix') format('embedded-opentype'),  url('../font/champagne/Champagne-Limousines.woff') format('woff'), url('../font/champagne/Champagne-Limousines.ttf')  format('truetype'), url('../font/champagne/Champagne-Limousines.svg#Champagne&Limousines') format('svg');
  font-weight: normal;
  font-style: normal;
}


@media (min-width:992px) {
    #aside {
        width:250px;
    }
}

@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: auto !important;
    }
}

body {
    font-family: 'Champagne-Limousines' !important;
    background-color: #CACACA;
}

/* Anti-scroll */
.anti-scroll {
    overflow: hidden;
}

/* Preloader V2 */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20001;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 20002;
}

#loader-logo {
    display: block;
    position: absolute;
    left: 48%;
    top: 46%;
    z-index: 20002;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;  
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; 
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 20001;
    -webkit-transform: translateX(0);  
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  
    -ms-transform: translateX(100%);
    transform: translateX(100%);  
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);  
    -ms-transform: translateY(-100%);  
    transform: translateY(-100%);  
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* Unloaded */
.unloaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.unloaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);  
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.unloaded #loader {
    opacity: 1;
    -webkit-transition: all 0.3s 0.7s ease-out;
    transition: all 0.3s 0.7s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

.progress{
    background-color: rgba(255, 64, 129, 0.22);
}

/* Parallax */
.parallax-container {
    height: 450px;
}

.parallax-little {
    height: 150px;
}

.para-main {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.collection {
    border: none;
}

.collection .collection-item.avatar {
    padding-right: 160px !important;
}

.collection .collection-item.avatar i.circle {
    line-height: 52px  !important;
}

.collection .collection-item.avatar .circle {
    width: 52px  !important;
    height: 52px  !important;
    left: 0  !important;
    margin-top: 8px !important;
}

.collection .collection-item.avatar .title {
    line-height: 40px;
}

.collection .collection-item.avatar .secondary-content {
    top: 30px !important;
}

label {
    padding-left: 25px !important;
    margin-right: 10px;
}

.search-nav {
    line-height: 50px !important;
    margin-top: 50px !important;
    height: 63px !important;
    margin: 0 !important;
}

.ico-search {
    margin-left: -20px;
}

.search-nav-field {
    margin-left: -10px !important;
}

.title-blue {
    padding-top: 10px;
    color: rgb(21, 194, 204);
}

.hideText {
    opacity: 0;
}

.label-inscription {
    padding-left: 0 !important;
    font-weight: bolder !important;
    font-size: 16px !important;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset !important;
    -webkit-text-fill-color: #333 !important;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
    -webkit-text-fill-color: #333 !important;
}

.btn-login {background-color: #564AB5 !important;}
.btn-login:hover {background-color: #564AB5 !important;}
.btn-login:active {background-color: #564AB5 !important;}

.btn-register {background-color: #DC6D72 !important;}
.btn-register:hover {background-color: #DC6D72 !important;}
.btn-register:active {background-color: #DC6D72 !important;}

a {cursor: pointer;}

.border-left-right {
    margin: 0 10px;
}

.card.small {
    height: 270px !important;
}

.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ div, .search-choice, .search-choice:after, .search-choice:before {
    position: absolute;
    top: 0 ;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
}

.hide-label {
    opacity: 0;
    transition: all 0.3s;
}

.focus-by-label {
    background-color: #fff !important;
    border: 0 !important;
    box-shadow: none !important;
    color: #444 !important;
    transition: .3s color !important;
}

.active-by-label {
    pointer-events: all !important;
    color: #444 !important;
    transition: all 0.3s;
}

.profil-text {
    line-height: 48px;
    font-size: 20px;
}

.profil-text-small {
    line-height: 48px;
    font-size: 18px;
}

.profil-text-email {
    line-height: 48px;
    font-size: 18px;
    width: 200px; /* à modifier selon vos besoins */
    overflow: hidden; /* les dépassements seront masqués */
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.cv-box-content{
    margin-top: 20px;
}

.cv-img {
    margin: 20px;
}

.cv-pseudo {
    margin-top: 60px;
}

.cv-submit-bt {
    margin-bottom: 20px;
}

.cv-text {
    font-size: 23px;
}

.cv-text-moyen {
    font-size: 18px;
}

::-webkit-input-placeholder {
    font-size: 20px;
    color: #212121;
}

.styled-select {
    font-size: 16px;
    color: #212121;
}
select {
    border: solid 1px black;
}

input {
    font-size: 18px !important;
    color: #545454;
}

textarea {
    font-size: 18px !important;
    color: #545454;
}

.title-collapse-cv {
    font-weight: bold;
    font-size: 18px;
}

.text-collapse-cv {
    font-size: 20px;
}

.messagerie-content {
    height: 450px;
}

.btn-ecrire {
    margin-top: 30px !important;
}

.text-mp {
    margin-top: -25px;
    font-size: 23px;
}

@media screen and (max-width:975px) {
    .box-compte-contenu {
        margin-bottom: 20px;
    }
}

footer.page-footer {
    background-color: #577CD0 !important;
    margin-top: 0;
}

footer.page-footer .footer-copyright { background-color: rgba(51,51,51,0.15); }

.color-gray {
    background-color: rgb(68, 68, 68) !important;
}

.color-gray-lighter {
    background-color: #676767 !important;
}

.icon-account {
    font-size: 24px;
    line-height: 40px;
}

.btn, .btn-large { background-color: #577CD0; }
.btn:hover, .btn-large:hover { background-color: #4B6FBF; }

.new-msg-bubble {
    top: 10px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-left: 20px;
    position: absolute;
}

.new-msg-text {
    top: -22px;
    margin-left: 7px;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
}

.material-tooltip-navbar {
    position: fixed;
}

h2 {
    margin: 0 0 1.424rem 0 !important;
}

.separator {
    margin: 5px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(150, 150, 150, 0.75), rgba(0, 0, 0, 0));
}

::-webkit-input-placeholder {
    font-size: 18px !important;
    color: #BBBBBB;
}

:-moz-placeholder {
    font-size: 18px !important;
    color: #BBBBBB; 
}

::-moz-placeholder {
    font-size: 18px !important;
    color: #BBBBBB; 
}

:-ms-input-placeholder {
    font-size: 18px !important;
    color: #BBBBBB;
}





































































































































































































































































































































































































































































































































































































































































/* G.E.K.T CUSTOM */

.tabs-compte-cv-pj {
    font-weight: bold !important;
}

.box-compte-contenu {
    height: 602px;
}